# ---------- Server Configuration ----------
VITE_APP_ENV=
VITE_APP_NAME=
VITE_API_BASE_URL=
VITE_PORT=

# ---------- Supabase Configuration ----------
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=